<div class="navbar bg-light px-4">
<h2>Wikinimous</h2>
<%= link_to "New article", articles_new_path, class:"text-decoration-none" %>
</div>
<div class="article">
<% @articles.each do |article| %>
<ul>
<li><%= link_to article.title, article_path(article.id), class:"text-decoration-none"%></li>
</ul>
<% end %>
</div>
<br>
